<div class="pt-3 flex justify-content-center">
  <p-card header="Nueva receta" class="mt-4 w-6"> 
    <div class="grid">
      <div class="col-12">
        <p-floatLabel>
          <input pInputText id="name" class="w-full" />
          <label for="name">Nombre de la receta</label>
        </p-floatLabel>
      </div>
      <div class="col-12 mt-3">
        <p-floatLabel>
          <p-dropdown
            optionLabel="name"
            styleClass="w-full"
            inputId="float-label"
          />
          <label for="float-label">Categoria</label>
        </p-floatLabel>
      </div>
      <div class="col-12 mt-3">
        <p-floatLabel>
          <textarea rows="5" cols="70" class="w-full" pInputTextarea></textarea>
          <label for="float-label">Descripción</label>
        </p-floatLabel>
      </div>
      <div class="col-12 mt-3">
        <p-toolbar>
          <div class="grid">
            <div class="col-6">
              <p-floatLabel>
                <input pInputText id="name" class="w-full" />
                <label for="name">Ingrediente</label>
              </p-floatLabel>
            </div>
            <div class="col-6">
              <p-floatLabel>
                <input pInputText id="name" class="w-full" />
                <label for="name">Cantidad</label>
              </p-floatLabel>
            </div>
            <div class="col-12">
              <p-floatLabel>
                <textarea
                  rows="5"
                  cols="70"
                  class="w-full"
                  pInputTextarea
                ></textarea>
                <label for="float-label">Preparación</label>
              </p-floatLabel>
            </div>
            <div class="col-12">
              <p-button styleClass="mr-2">Añadir</p-button>
            </div>
          </div>
        </p-toolbar>
      </div>
      <div class="col-12 mt-3">
        <p-floatLabel>
          <textarea rows="5" cols="70" class="w-full" pInputTextarea></textarea>
          <label for="float-label">Preparación</label>
        </p-floatLabel>
      </div>
      <div class="col-12">
        <p-button>Añadir</p-button>
      </div>
    </div>
  </p-card>
</div>
