<div class="flex justify-content-center mt-6 pt-6">
  <p-card class="w-12 md:w-10 lg:w-8 xl:w-6 py-5">
    <div class="flex justify-content-center">
      <img
        src="assets/img/recetalex.png"
        alt="logo"
        class="w-4 cursor-pointer p-card-class border-round-sm card-customs"
        (click)="onRedirectToSearch()"
      />
    </div>
    <div
      class="flex flex-column justify-content-center align-items-center gap-3 px-2 mb-5"
    >
      <div class="text-2xl font-semibold text-center">
        Inicia sesión en tu cuenta
      </div>
      <div class="text-center">
        Bienvenido. Por favor, ingresa tus credenciales.
      </div>
    </div>
    <form [formGroup]="form">
      <div class="flex justify-content-center">
        <div class="grid w-9">
          <div class="col-12 my-3">
            <p-button
              styleClass="flex align-items-center justify-content-center w-full"
              [raised]="true"
              (click)="loginWithGoogle()"
            >
              <img src="assets/img/google.png" alt="google" class="w-1" />
              Iniciar sesión con Google
            </p-button>
          </div>
          <div class="col-12 mt-3">
            <p-floatLabel>
              <input
                pInputText
                id="email"
                class="w-full"
                formControlName="email"
              />
              <label for="email">Email</label>
            </p-floatLabel>
          </div>

          <div class="col-12 mt-3">
            <p-floatLabel>
              <input
                pInputText
                id="password"
                class="w-full"
                formControlName="password"
                type="password"
              />
              <label for="password">Contraseña</label>
            </p-floatLabel>
          </div>
          <div class="col-12 mt-3">
            @if(isRegistre()) {
            <p-checkbox formControlName="check" binary="true" inputId="check" />
            <label for="ny" class="ml-2"
              >Acepto los Términos y Condiciones y la Política de Privacidad de
              Recetalex. Al marcar esta casilla, autorizo el tratamiento de mis
              datos personales conforme a lo establecido en dichos documentos.
            </label>
            }
          </div>
          <div class="col-12">
            <p-button
              [disabled]="!form.valid"
              styleClass="flex align-items-center justify-content-center w-full"
              [raised]="true"
              (click)="
                isRegistre()
                  ? registerWithEmailAndPassword()
                  : loginWithEmailAndPassword()
              "
              >{{ isRegistre() ? "Registrarse" : "Iniciar sesión" }}</p-button
            >
          </div>
          <div class="col-12 mt-3">
            <p-button
              styleClass="flex align-items-center justify-content-center w-full"
              size="small"
              [text]="true"
              severity="secondary"
              (click)="onChangeRegistryLogin()"
              >{{
                isRegistre() ? "Iniciar sesión aquí" : "Crear una cuenta"
              }}</p-button
            >
          </div>
        </div>
      </div>
    </form>
  </p-card>
</div>
